@import "../utilidades/variables";

.valoracion{
    background-color: rgba(10, 38, 65, 0.5);
    color: map-get($color-tipografia, valoracion);
    border-radius:5px;
    text-align:center;
}

.formulario{
    background-color: rgba(10, 38, 65, 0.1);
    text-transform: uppercase;
    width:80%;
}

form{
    border-radius:2px;
}

