@import "../utilidades/variables";

.valoracion{
    background-color: rgba(10, 38, 65, 0.5);
    color: map-get($color-tipografia, valoracion);
    border-radius:5px;
    text-align:center;
}

.formulario{
    background-color:rgb(99, 170, 236);
    width:80%;
}

form{
    border-radius:20px;
}