.valoracion{
    background-color: rgba(10, 38, 65, 0.5);
    color: rgb(194, 195, 197);
    border-radius:5px;
    text-align:center;
}

.formulario{
    background-color:rgb(99, 170, 236);
    width:80%;
}

form{
    border-radius:20px;
}