@import "../layout/media";
@import "../utilidades/variables";

.prod_borde{
    border: 2px solid rgba(2, 44, 84, 0.21);
    border-radius:30px;
}

.img{
    &_productos{
        background-image: url(../img/productos.jpg);
        background-size: cover;

        height: 420px;
        width: 98%;

        padding: 10px;
    }
    &_novedades{
        background-image: url(../img/novedades.jpg);
        background-size: cover;

        height: 420px;
        width: 98%;

        padding: 10px;
    }
    &_logo{
        width: 140px;
        height: 50px;

        margin-left: 15px;

        @include small-dsp{
            width:100px;
            height: 40px;
        }
        
        @include tablet{
            width: 200px;
            height: 70px;
    
            margin-left: 15px;
        }
    }
}

.principal{
    &__titulo{
        background-color:rgba(34, 135, 236, 0.3);
        color: map-get($color-tipografia, titulo);
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 15px;
        
        @include tablet{
            font-size: 2.5rem;
        }

        @include medium{
            font-size: 2rem;
        }
    }
    &__subtitulo{
        background-color: rgba(34, 135, 236, 0.1);
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    &__img:hover{
            border: 3px solid rgba(3, 83, 164, 0.3);
            scale: 1.05;
    }
}




