@import "./media";

header{
    background-color: $color-azul;
    font-size: 1rem;
}

body{
    background-color: $color-gris;
}

footer{
    background-color: $color-azul;

    font-size: 0.8rem;
    font-weight: 500;

    width: 100vw;

    text-align: center;

    display:flex;
    align-items: center;
    justify-content: space-around;

    @include tablet{
        font-size: 1rem;
        font-weight: 400;
    }

    ul{
        display:flex;
        flex-direction: column;
    
        padding: 5px;
        margin-top: 25px;
        margin-right: 5px; 
    }
}

h1{
    text-transform: uppercase;
}

