@import "../layout/media";
@import "../utilidades/variables";

*{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    color: $color-gris;
    .nav-link{
        @extend ul;
        text-decoration: none;
        &:hover{
            color:rgb(89, 91, 94);
        }
    }
}

.descripcion{
    color: map-get($color-tipografia, texto-secundario);
    font-size: 1.2rem;
    font-weight: 500;
    margin:25px;
}    

article{
        div{
            h3, p{
                @extend .descripcion;
                font-size: 1rem;
                text-transform: uppercase;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 10px;
                padding: 2px;
                @include desktop{
                    color: map-get($color-tipografia, texto-secundario);
                    background-color: rgba(255, 255, 255, 0.1);
                    font-size: 1.5rem;
                }
        }
    }
}
    
    
