a{
    text-decoration: none;
    color: rgb(125, 133, 151);
}

ul {
    list-style-type: none;
    color: rgb(151, 157, 172);
}

header{
    background-color: rgb(3, 83, 164);
    font-size: 1rem;
}

.nav-link{
    color: rgb(125, 133, 151);
}

body{
    background-color: rgb(151, 157, 172);
}

.container{
    width: 100%;
    padding: 0;
}
.img_novedades{
    background-image: url(../img/novedades.jpg);
    background-size: cover;

    height: 350px;
    width: 100%;

    padding: 10px;
}


.img_productos{
    background-image: url(../img/productos.jpg);
    background-size: cover;

    height: 350px;
    width: 100%;

    padding: 10px;
}

.principal__titulo{
    background-color:rgba(34, 135, 236, 0.3);
    color:rgb(28, 48, 48);
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.principal__subtitulo{
    background-color: rgba(34, 135, 236, 0.1);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.descripcion{
    color: rgb(40, 40, 40);
    font-size: 1.2rem;
    font-weight: 500;
    margin:25px;
}

.producto__tarjeta{
    border: none;
    background-color: rgba(34, 135, 236, 0.3);
    border-radius: 15px;

    text-align: center;

    margin: 30px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.producto__tarjeta--prod{
    max-width: 350px;
}

.producto__nombre{
    padding: 20px;
}

.producto__img{
    width: 90%;
    height: 70%;

    border-radius:30px;

    margin: 10px; 
    padding: 15px;
    }

article > div > h3, p{
    color: rgb(48, 48, 49);
    
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.prod_borde{
    border: 2px solid rgba(2, 44, 84, 0.21);
    border-radius:30px;
}

.btn{
    background-color:rgba(2, 44, 84, 0.651);
    color: rgb(205, 207, 212);

    border: 2px rgb(2, 52, 101) solid;
    border-radius: 15px;

    font-weight:500;

    width: 150px;
    height:40px;
}

.btn--prod{
    background-color:rgba(2, 44, 84, 0.651);
    color: rgb(205, 207, 212);

    border: 2px rgb(2, 52, 101) solid;
    border-radius: 15px;

    font-weight:500;

    width: 250px;
    height:60px;
    
}

.btn--form{
    font-size:0.8rem;
}

.valoracion{
    background-color: rgba(10, 38, 65, 0.5);
    color: rgb(194, 195, 197);
    border-radius:5px;
    text-align:center;
}


form{
    border-radius:20px;
}

footer{
    background-color: rgb(3, 83, 164);

    font-size: 0.8rem;
    font-weight: 500;

    width: 100vw;

    text-align: center;

    display:flex;
    align-items: center;
    justify-content: space-around;
}

footer ul{
    display:flex;
    flex-direction: column;

    padding: 5px;
    margin-top: 25px;
    margin-right: 15px;
}

.img_logo{
    width: 140px;
    height: 50px;

    margin-left: 15px;
}

.formulario{
    background-color:rgb(99, 170, 236);
    width:80%;

}
@media(max-width: 480px){
    .img_logo{
        width:100px;
        height: 40px;
    }
}
@media (min-width: 768px){
    .principal__titulo{
    font-size: 2rem;
    }

    .producto__tarjeta--prod{
        width: 25vw;
    }

    .carousel, .carousel-inner > .item > img {
        width: 95vw;
        height: 85vh;
        margin-left: 30px;
    }

    .carousel-inner img{
        width: 100%;
        max-height: 82vh;
    }
}

@media (min-width: 993px){
    .principal__titulo{
        font-size: 2.5rem;
    }

    nav ul li{
        font-size:1.2rem;
    }

    footer{
        font-size: 1rem;
        font-weight: 400;
    }

    .img_logo{
        width: 200px;
        height: 70px;
    
        margin-left: 15px;
    }
}

@media (min-width: 1200px){
    .articulo{
        height: 100vh;
    }

    .img_novedades, .img_productos{
        height: 85%;
    }
    
    .btn{
        border-radius: 25px;
        font-size: 1.2rem;
        width: 180px;
        height:60px;
    
        
    }

    .principal__titulo{
        font-size: 3rem;
    }

    article > div > h3, p{
        color: rgb(48, 48, 49);
        
        font-size: 1.5rem;
    }

    nav ul li{
        font-size: 1.5rem;
    }
}
